*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #8c52ff;
}

.container{
    font-size:15px;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85,0, 0.25);
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    padding:3em;
    width: 90vw;
}
#option-container{
    text-align: center;
}
#option-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin:1.2em;
}

#option-container button{
    padding:1.2em;
    border:3px solid black;
    background-color: white;
    color:black;
    border-radius: 0.3em;
    text-transform: capitalize;
    cursor:pointer;
}

#option-container button:disabled{
    border:3px solid #808080;
    color:#808080;
    background-color: #efefef;
}

#option-container button.active{
    background-color: #8c52ff;
    border:3px solid black;
    color:#fff;
}

.letter-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0.6em;
}

#letter-container button{
    height:2.4em;
    width:2.4em;
    border-radius:0.3em;
    background-color: white;
    cursor: pointer;
}

.name-game-popup{
   background-color: white;
   position:absolute;
   height:100%;
   width:100%;
   display: flex;
   align-items:center;
   justify-content: center;
   flex-direction: 0.6em;
}

#user-input{
    display:flex;
    justify-content: center;
    font-size: 1.8em;
    margin:1.2em;
}

canvas{
    display: block;
    margin: auto;
    border: 10px solid #8c52ff;
    border-radius: 10px;
}

.hide{
    display: none;
}

#result-text h2{
    font-size: 1.8em;
    text-align: center;
}

#result-text p{
    font-size: 1.25em;
    margin:2em;
}

#result-text span{
    font-weight: 600;
}

#new-game-button{
    font-size: 1.25em;
    padding:1.5em 1em;
    background-color: #8c52ff;
    border:3px solid black;
    color: white;
    border-radius: 0.2em;
    cursor: pointer;
}

.win-msg{
    color:#39d78d;
}
.lose-msg{
    color:#fe5152;
}